.header{
  position:sticky;
  top: 0;
  border: 1px solid red;
  background-color: #181a1b;
  z-index: 1;
  grid-area: header;

  display: flex;
  justify-content:space-between ;
}

.header__logo{
  width: 50px;
  margin: 10px;
  margin-left: 30px;
}
.header__logo img{
  width: 100%;
}
.loginBlock{
  line-height: 70px;
  margin-right: 30px;
  color: red;
}
.loginBlock a{
  color:  red;
}
