@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  
}
body{
  background-color: #181a1b;
}
.app-wrapper{
  max-width: 80%;
  min-width: 850px;
  margin: 0 auto; 
  padding: 10px;

  display: grid;
  grid-template-areas: 
  "header header header "
  "nav main main  ";
  grid-template-rows: 70px 1fr;
  grid-template-columns:20% 80%;
  gap: 10px;

}
.pageBody__content{
  border: 1px solid red;
  grid-area: main;
}

.app-wrapper{
    color:  red;
}
.blue{
  color: blue;
}